*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  height: 100%;
  margin: 0;
}

.container {
  background-image:url("../images/dog.jpg");
  background-size:cover;
  width: 100%;
  height: 100vh;
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  color: white;
  font-size: 3vh;
}

.welcome h1 {
  color: yellow;
  text-align: center;
  font-size: 7.5vh;
}

#scheduleButton {
  color:black;
}

#buttonSection {
  display: flex;
  width: 15%;
}

