body {
  background-color: rgb(115, 236, 195);
}

#navbar {
  position: relative;
  background-color: rgb(245, 45, 5);
  width: 100%;
  height: 60px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#appointmentButton {
  position: absolute; 
  top: 10px; 
  right: 20px; 
  background-color: rgb(215, 130, 11);
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

#footer {
  position: relative;
  background-color: blue;
  color: white;
  font-size: 30px;
  margin-top: 30%;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  max-width: 90%; 
  max-height: 90%; 
  overflow-y: auto; 
}


.form-group {
  margin-bottom: 15px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
