body {
  background-color: rgb(115, 236, 195);
}

#navbar {
  position: relative;
  background-color: rgb(245, 45, 5);
  margin: auto 0;
  width: 100%;
  height: 10%;
  font-size: 50px;
}

#section1 {
  background-color: rgb(115, 236, 195);
  width: 80%;
  margin: 10% auto;
}


#appointmentButton {
  display: block;
  margin: auto;
  background-color: rgb(215, 130, 11);
  color: white;
  border-radius: 10px;
  border:none;
  font-size: 40px;
  padding:10px;

}


#footer {
  position: relative;
  background-color: blue;
  color: white;
  font-size: 30px;
  margin-top: 30%;
  
}